<!-- About Start -->
<div class="container-fluid py-5">
  <div class="container">
      <div class="section-title">
          <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Sobre Nós</h4>
          <h1 class="display-4">Servindo desde <%=store.date_inauguration.year%></h1>
      </div>
      <div class="row">
          <div class="col-lg-4 py-0 py-lg-5">
              <h1 class="mb-3">Nossa História</h1>
              <h5 class="mb-3">Trazendo o Aroma de Manhã: Uma Jornada de Café e Aconchego</h5>
              <p>Em um tranquilo bairro residencial, uma acolhedora cafeteria, batizada de Ruby Coffe, desperta todas as manhãs com o aroma irresistível de café fresco e pães recém-assados. Sob a direção apaixonada de Luna, uma barista talentosa e amante da culinária, a cafeteria tornou-se um refúgio favorito para os moradores locais</p>
              <a href="" class="btn btn-secondary font-weight-bold py-2 px-4 mt-2">Leia Mais</a>
          </div>
          <div class="col-lg-4 py-5 py-lg-0" style="min-height: 500px;">
              <div class="position-relative h-100">
                  <%= image_tag "about.png",  class: "position-absolute w-100 h-100", style: "object-fit: cover;" %>
              </div>
          </div>
          <div class="col-lg-4 py-0 py-lg-5">
              <h1 class="mb-3">Nossa Visão</h1>
              <p>Ser o ponto de referência na comunidade para os amantes de café, onde cada visita é uma experiência sensorial que desperta os sentidos e inspira momentos de conexão e relaxamento</p>
              <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>
              Ser a principal cafeteria da cidade.
              </h5>
              <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>
              Ser a cafetaria líder na região.
              </h5>
              <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>
              Cultivar um ambiente acolhedor
              </h5>
              <a href="" class="btn btn-primary font-weight-bold py-2 px-4 mt-2">Learn More</a>
          </div>
      </div>
  </div>
</div>
<!-- About End -->