
<!-- Service Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="section-title">
                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Nossos Serviços</h4>
                <h1 class="display-4">Grãos Frescos e Orgânicos</h1>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <%= image_tag "service-1.jpg", alt: "", class: "img-fluid mb-3 mb-sm-0" %>
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="fa fa-truck service-icon text-center pt-2"></i>Delivery rápido </h4>
                            <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo. Guberg sea et et lorem dolor sed est sit
                                invidunt, dolore tempor diam ipsum takima erat tempor</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <%= image_tag "service-2.jpg", alt: "", class: "img-fluid mb-3 mb-sm-0" %>
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="fa fa-coffee service-icon text-center pt-2"></i>Grãos de café fresco</h4>
                            <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo. Guberg sea et et lorem dolor sed est sit
                                invidunt, dolore tempor diam ipsum takima erat tempor</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <%= image_tag "service-3.jpg", alt: "", class: "img-fluid mb-3 mb-sm-0" %>                
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="fa fa-award service-icon text-center pt-2"></i>Melhor café da cidade</h4>
                            <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo. Guberg sea et et lorem dolor sed est sit
                                invidunt, dolore tempor diam ipsum takima erat tempor</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <%= image_tag "service-4.jpg", alt: "", class: "img-fluid mb-3 mb-sm-0" %>
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="fa fa-table service-icon text-center pt-2"></i>Reservas de mesas</h4>
                            <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo. Guberg sea et et lorem dolor sed est sit
                                invidunt, dolore tempor diam ipsum takima erat tempor</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->

